.palette-default {
  --palette-background: var(--palette-default-background);
  --palette-foreground: var(--palette-default-foreground);
  --palette-border-color: var(--palette-default-border-color);
  /*--palette-color-scheme: var(--palette-default-scheme);*/
  --palette-lightcontrast-background: var(
    --palette-default-lightcontrast-background
  );
  --palette-lightcontrast-foreground: var(
    --palette-default-lightcontrast-foreground
  );
}

.palette-alternate {
  --palette-background: light-dark(
    var(--palette-alternate-light-background),
    var(--palette-alternate-dark-background)
  );
  --palette-foreground: light-dark(
    var(--palette-alternate-light-foreground),
    var(--palette-alternate-dark-foreground)
  );
  --palette-border-color: light-dark(
    var(--palette-alternate-light-border-color),
    var(--palette-alternate-dark-border-color)
  );
  [data-color-scheme="light"] & {
    --palette-color-scheme: var(--palette-alternate-light-scheme);
  }

  [data-color-scheme="dark"] & {
    --palette-color-scheme: var(--palette-alternate-dark-scheme);
  }

  --palette-lightcontrast-background: light-dark(
    var(--palette-default-light-background),
    var(--palette-default-dark-background)
  );
  --palette-lightcontrast-foreground: light-dark(
    var(--palette-default-light-foreground),
    var(--palette-default-dark-foreground)
  );
}

.palette-accent {
  --palette-background: light-dark(
    var(--palette-accent-light-background),
    var(--palette-accent-dark-background)
  );
  --palette-foreground: light-dark(
    var(--palette-accent-light-foreground),
    var(--palette-accent-dark-foreground)
  );
  --palette-border-color: light-dark(
    var(--palette-accent-light-border-color),
    var(--palette-accent-dark-border-color)
  );

  [data-color-scheme="light"] & {
    --palette-color-scheme: var(--palette-accent-light-scheme);
  }
  [data-color-scheme="dark"] & {
    --palette-color-scheme: var(--palette-accent-dark-scheme);
  }

  --palette-lightcontrast-background: light-dark(
    var(--palette-alternate-light-background),
    var(--palette-alternate-dark-background)
  );
  --palette-lightcontrast-foreground: light-dark(
    var(--palette-alternate-light-foreground),
    var(--palette-alternate-dark-foreground)
  );
}

.palette-brand {
  --palette-background: light-dark(
    var(--palette-brand-light-background),
    var(--palette-brand-dark-background)
  );
  --palette-foreground: light-dark(
    var(--palette-brand-light-foreground),
    var(--palette-brand-dark-foreground)
  );
  --palette-border-color: light-dark(
    var(--palette-brand-light-border-color),
    var(--palette-brand-dark-border-color)
  );

  [data-color-scheme="light"] & {
    --palette-color-scheme: var(--palette-brand-light-scheme);
  }

  [data-color-scheme="dark"] & {
    --palette-color-scheme: var(--palette-brand-dark-scheme);
  }

  --palette-lightcontrast-background: light-dark(
    var(--palette-accent-light-background),
    var(--palette-accent-dark-background)
  );
  --palette-lightcontrast-foreground: light-dark(
    var(--palette-accent-light-foreground),
    var(--palette-accent-dark-foreground)
  );
}
