.palette-default {
  --palette-background: var(--palette-default-background);
  --palette-foreground: var(--palette-default-foreground);
  --palette-border-color: var(--palette-default-border-color);
  /*--palette-color-scheme: var(--palette-default-scheme);*/
  --palette-lightcontrast-background: var(
    --palette-default-lightcontrast-background
  );
  --palette-lightcontrast-foreground: var(
    --palette-default-lightcontrast-foreground
  );
}

.palette-alternate {
  --palette-background: var(--palette-alternate-background);
  --palette-foreground: var(--palette-alternate-foreground);
  --palette-border-color: var(--palette-alternate-border-color);
  /*--palette-color-scheme: var(--palette-alternate-scheme);*/
  --palette-lightcontrast-background: var(
    --palette-alternate-lightcontrast-background
  );
  --palette-lightcontrast-foreground: var(
    --palette-alternate-lightcontrast-foreground
  );
}

.palette-accent {
  --palette-background: var(--palette-accent-background);
  --palette-foreground: var(--palette-accent-foreground);
  --palette-border-color: var(--palette-accent-border-color);
  /*--palette-color-scheme: var(--palette-accent-scheme);*/
  --palette-lightcontrast-background: var(
    --palette-accent-lightcontrast-background
  );
  --palette-lightcontrast-foreground: var(
    --palette-accent-lightcontrast-foreground
  );
}

.palette-brand {
  --palette-background: var(--palette-brand-background);
  --palette-foreground: var(--palette-brand-foreground);
  --palette-border-color: var(--palette-brand-border-color);
  /*--palette-color-scheme: var(--palette-brand-scheme);*/
  --palette-lightcontrast-background: var(
    --palette-brand-lightcontrast-background
  );
  --palette-lightcontrast-foreground: var(
    --palette-brand-lightcontrast-foreground
  );
}
