:root {
  color-scheme: light dark;

  /* Surface Palettes */

  /* Default */
  --palette-default-background: light-dark(
    var(--palette-default-light-background),
    var(--palette-default-dark-background)
  );
  --palette-default-foreground: light-dark(
    var(--palette-default-light-foreground),
    var(--palette-default-dark-foreground)
  );
  --palette-default-border-color: light-dark(
    var(--palette-default-light-border-color),
    var(--palette-default-dark-border-color)
  );

  /* Alternate */
  --palette-alternate-background: light-dark(
    var(--palette-alternate-light-background),
    var(--palette-alternate-dark-background)
  );
  --palette-alternate-foreground: light-dark(
    var(--palette-alternate-light-foreground),
    var(--palette-alternate-dark-foreground)
  );
  --palette-alternate-border-color: light-dark(
    var(--palette-alternate-light-border-color),
    var(--palette-alternate-dark-border-color)
  );

  /* Accent */
  --palette-accent-background: light-dark(
    var(--palette-accent-light-background),
    var(--palette-accent-dark-background)
  );
  --palette-accent-foreground: light-dark(
    var(--palette-accent-light-foreground),
    var(--palette-accent-dark-foreground)
  );
  --palette-accent-border-color: light-dark(
    var(--palette-accent-light-border-color),
    var(--palette-accent-dark-border-color)
  );

  /* Brand */
  --palette-brand-background: light-dark(
    var(--palette-brand-light-background),
    var(--palette-brand-dark-background)
  );
  --palette-brand-foreground: light-dark(
    var(--palette-brand-light-foreground),
    var(--palette-brand-dark-foreground)
  );
  --palette-brand-border-color: light-dark(
    var(--palette-brand-light-border-color),
    var(--palette-brand-dark-border-color)
  );

  /* Interactive Palettes */

  /* Primary */
  --palette-primary-background: light-dark(
    var(--palette-primary-light-background),
    var(--palette-primary-dark-background)
  );
  --palette-primary-foreground: light-dark(
    var(--palette-primary-light-foreground),
    var(--palette-primary-dark-foreground)
  );
  --palette-primary-border-color: light-dark(
    var(--palette-primary-light-border-color),
    var(--palette-primary-dark-border-color)
  );
  --palette-primary-background-hover: light-dark(
    var(--palette-primary-light-background-hover),
    var(--palette-primary-dark-background-hover)
  );
  --palette-primary-foreground-hover: light-dark(
    var(--palette-primary-light-foreground-hover),
    var(--palette-primary-dark-foreground-hover)
  );
  --palette-primary-border-color-hover: light-dark(
    var(--palette-primary-light-border-color-hover),
    var(--palette-primary-dark-border-color-hover)
  );
  --palette-primary-background-focus: light-dark(
    var(--palette-primary-light-background-focus),
    var(--palette-primary-dark-background-focus)
  );
  --palette-primary-foreground-focus: light-dark(
    var(--palette-primary-light-foreground-focus),
    var(--palette-primary-dark-foreground-focus)
  );
  --palette-primary-border-color-focus: light-dark(
    var(--palette-primary-light-border-color-focus),
    var(--palette-primary-dark-border-color-focus)
  );
  --palette-primary-background-active: light-dark(
    var(--palette-primary-light-background-active),
    var(--palette-primary-dark-background-active)
  );
  --palette-primary-foreground-active: light-dark(
    var(--palette-primary-light-foreground-active),
    var(--palette-primary-dark-foreground-active)
  );
  --palette-primary-border-color-active: light-dark(
    var(--palette-primary-light-border-color-active),
    var(--palette-primary-dark-border-color-active)
  );
  --palette-primary-background-disabled: light-dark(
    var(--palette-primary-light-background-disabled),
    var(--palette-primary-dark-background-disabled)
  );
  --palette-primary-foreground-disabled: light-dark(
    var(--palette-primary-light-foreground-disabled),
    var(--palette-primary-dark-foreground-disabled)
  );
  --palette-primary-border-color-disabled: light-dark(
    var(--palette-primary-light-border-color-disabled),
    var(--palette-primary-dark-border-color-disabled)
  );
}

[data-color-scheme="light"] {
  color-scheme: light;
}

[data-color-scheme="dark"] {
  color-scheme: dark;
}
