[data-color-scheme="light"],
[data-color-scheme="light"] [class*="palette-"],
[data-color-scheme="light"] .palette-default > *:not([class*="palette-"]),
[data-color-scheme="light"] .palette-alternate > *:not([class*="palette-"]),
[data-color-scheme="dark"] .palette-accent > *:not([class*="palette-"]),
.palette-brand > *:not([class*="palette-"]) {
  /* Default */
  --palette-default-background: var(--palette-default-light-background);
  --palette-default-foreground: var(--palette-default-light-foreground);
  --palette-default-border-color: var(--palette-default-light-border-color);
  --palette-default-color-scheme: var(--palette-default-light-scheme);
  --palette-default-lightcontrast-background: var(
    --palette-alternate-light-background
  );
  --palette-default-lightcontrast-foreground: var(
    --palette-alternate-light-foreground
  );

  /* Alternate */
  --palette-alternate-background: var(--palette-alternate-light-background);
  --palette-alternate-foreground: var(--palette-alternate-light-foreground);
  --palette-alternate-border-color: var(--palette-alternate-light-border-color);
  --palette-alternate-color-scheme: var(--palette-alternate-light-scheme);
  --palette-alternate-lightcontrast-background: var(
    --palette-default-light-background
  );
  --palette-alternate-lightcontrast-foreground: var(
    --palette-default-light-foreground
  );

  /* Accent */
  --palette-accent-background: var(--palette-accent-light-background);
  --palette-accent-foreground: var(--palette-accent-light-foreground);
  --palette-accent-border-color: var(--palette-accent-light-border-color);
  --palette-accent-color-scheme: var(--palette-accent-light-scheme);
  --palette-accent-lightcontrast-background: var(
    --palette-default-light-background
  );
  --palette-accent-lightcontrast-foreground: var(
    --palette-default-light-foreground
  );

  /* Brand */
  --palette-brand-background: var(--palette-brand-light-background);
  --palette-brand-foreground: var(--palette-brand-light-foreground);
  --palette-brand-border-color: var(--palette-brand-light-border-color);
  --palette-brand-color-scheme: var(--palette-brand-light-scheme);
  --palette-brand-lightcontrast-background: var(
    --palette-accent-light-background
  );
  --palette-brand-lightcontrast-foreground: var(
    --palette-accent-light-foreground
  );

  /* Primary */
  --palette-primary-background: var(--palette-primary-light-background);
  --palette-primary-foreground: var(--palette-primary-light-foreground);
  --palette-primary-border-color: var(--palette-primary-light-border-color);
}

[data-color-scheme="dark"],
[data-color-scheme="dark"] [class*="palette-"],
[data-color-scheme="dark"] .palette-default > *:not([class*="palette-"]),
[data-color-scheme="dark"] .palette-alternate > *:not([class*="palette-"]),
[data-color-scheme="light"] .palette-accent > *:not([class*="palette-"]) {
  /* Default */
  --palette-default-background: var(--palette-default-dark-background);
  --palette-default-foreground: var(--palette-default-dark-foreground);
  --palette-default-border-color: var(--palette-default-dark-border-color);
  --palette-default-color-scheme: var(--palette-default-dark-scheme);
  --palette-deafult-lightcontrast-background: var(
    --palette-alternate-dark-background
  );
  --palette-deafult-lightcontrast-foreground: var(
    --palette-alternate-dark-foreground
  );

  /* Alternate */
  --palette-alternate-background: var(--palette-alternate-dark-background);
  --palette-alternate-foreground: var(--palette-alternate-dark-foreground);
  --palette-alternate-border-color: var(--palette-alternate-dark-border-color);
  --palette-alternate-color-scheme: var(--palette-alternate-dark-scheme);
  --palette-alternate-lightcontrast-background: var(
    --palette-default-dark-background
  );
  --palette-alternate-lightcontrast-foreground: var(
    --palette-default-dark-foreground
  );

  /* Accent */
  --palette-accent-background: var(--palette-accent-dark-background);
  --palette-accent-foreground: var(--palette-accent-dark-foreground);
  --palette-accent-border-color: var(--palette-accent-dark-border-color);
  --palette-accent-color-scheme: var(--palette-accent-dark-scheme);
  --palette-accent-lightcontrast-background: var(
    --palette-default-dark-background
  );
  --palette-accent-lightcontrast-foreground: var(
    --palette-default-dark-foreground
  );

  /* Brand */
  --palette-brand-background: var(--palette-brand-dark-background);
  --palette-brand-foreground: var(--palette-brand-dark-foreground);
  --palette-brand-border-color: var(--palette-brand-dark-border-color);
  --palette-brand-color-scheme: var(--palette-brand-dark-scheme);
  --palette-brand-lightcontrast-background: var(
    --palette-accent-light-background
  );
  --palette-brand-lightcontrast-foreground: var(
    --palette-accent-light-foreground
  );

  /* Primary */
  --palette-primary-background: var(--palette-primary-dark-background);
  --palette-primary-foreground: var(--palette-primary-dark-foreground);
  --palette-primary-border-color: var(--palette-primary-dark-border-color);
}
