:scope {
  --yellow: #fc0;
  --dark-yellow: rgb(202, 162, 0);
  --lightgreen: lightgreen;
  --green: green;
  --darkgreen: darkgreen;
  --lightblue: lightblue;
  --dark-lightblue: rgb(112, 166, 184);
  --gray-90: hsl(0 0 10);
  --gray-80: hsl(0 0 20);
  --gray-70: hsl(0 0 30);
  --gray-60: hsl(0 0 40);
  --gray-50: hsl(0 0 50);
  --gray-40: hsl(0 0 60);
  --gray-30: hsl(0 0 70);
  --gray-20: hsl(0 0 80);
  --gray-10: hsl(0 0 90);
  --gray-5: hsl(0 0 95);
  --white: #fff;
  --black: #000;

  --padding-1: 0.125rem 0.5rem;
  --padding-2: 0.25rem 0.75rem;
  --padding-3: 0.5rem 1rem;

  --post-core-color-brand-postyellow: #ffcc00;
  --post-core-color-brand-black: #000000;
  --post-core-color-brand-white: #ffffff;
  --post-core-color-notification-green: #107800;
  --post-core-color-notification-red: #b20000;
  --post-core-color-notification-orange: #d93d00;
  --post-core-color-notification-blue: #0050a1;
  --post-core-color-notification-green-light: #c3ddbf;
  --post-core-color-notification-red-light: #ebbfbf;
  --post-core-color-notification-orange-light: #f5cebf;
  --post-core-color-notification-blue-light: #bfd3e7;
  --post-core-color-notification-green-night: #55e543;
  --post-core-color-notification-red-night: #ffc2c2;
  --post-core-color-sandgrey-100: #050400;
  --post-core-color-sandgrey-000: #fcfcfc;
  --post-core-color-sandgrey-002: #fafafa;
  --post-core-color-sandgrey-006: #f0efed;
  --post-core-color-sandgrey-012: #e1e0dc;
  --post-core-color-sandgrey-020: #cdccc8;
  --post-core-color-sandgrey-030: #b4b3af;
  --post-core-color-sandgrey-040: #9b9a96;
  --post-core-color-sandgrey-050: #82817d;
  --post-core-color-sandgrey-060: #696864;
  --post-core-color-sandgrey-070: #504f4b;
  --post-core-color-sandgrey-080: #373632;
  --post-core-color-sandgrey-090: #1e1d19;
  --post-core-color-cargo-green: #00411c;
  --post-core-color-cargo-blue: #aadcff;
}
