/* Surface palettes */

.palette-default {
  background-color: var(--palette-default-background);
  color: var(--palette-default-foreground);
  border-color: var(--palette-default-border-color);
}

.palette-alternate {
  background-color: var(--palette-alternate-background);
  color: var(--palette-alternate-foreground);
  border-color: var(--palette-alternate-border-color);
}

.palette-accent {
  background-color: var(--palette-accent-background);
  color: var(--palette-accent-foreground);
  border-color: var(--palette-accent-border-color);
}

.palette-brand {
  background-color: var(--palette-brand-background);
  color: var(--palette-brand-foreground);
  border-color: var(--palette-brand-border-color);
}

/* Interactive palettes */

.palette-primary {
  background-color: var(--palette-primary-background);
  color: var(--palette-primary-foreground);
  border-color: var(--palette-primary-border-color);
}
